{% include 'base.html' %}
{% block content %}

<h1 style="color : rgb(255, 0, 191)">User Projects</h1> 
<table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Current Money</th>
      <th>Target Money</th>
      <th>Category</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>image</th>
      <th>Actions</th>
    </tr>
    {% for ele in projects %}
    <tr>
      <td>{{ele.id}}</td>
      <td>{{ele.name}}</td>
      <td>{{ele.current_situation}}</td>
      <td>{{ele.target}}</td>
      <td>{{ele.category}}</td>
      <td>{{ele.created_at}}</td>
      <td>{{ele.end_date}}</td>
      <td>
        {% if ele.image %} <img src="{{ele.image.url}}" alt="image" width="200px"/> {% endif %}
      </td>
      <td style="padding: 10px">
        <a href="{% url 'showProject' ele.id %}" class="btn btn-info"> Show </a>
        <a href="{% url 'deleteProject' ele.id %}" class="btn btn-danger"> Delete </a>
        <a href="{% url 'updateProject' ele.id %}" class="btn btn-danger"> Update </a>
      </td>
    </tr>
    {% endfor %} 
  </table>
<br>
  <a href ="{% url 'createProject' %}">Create Project</a>
  <a href="{% url 'Logout'  %}" class="btn btn-info"> Logout</a>



{% endblock %}